In [4]:
import numpy as np
import pandas as pd

In [1]:
index = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']

In [5]:
navegadores = pd.DataFrame({'http_status': [200, 200, 404, 404, 301],
 'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},
 index=index)

In [42]:
navegadores = pd.DataFrame({'http_status': [200, 200, 404, 404, 301],
 'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},
 index=index)
navegadores[navegadores['http_status'] == 200]

         http_status  response_time
Firefox          200           0.04
Chrome           200           0.02

In [44]:
navegadores = pd.DataFrame({'http_status': [200, 200, 404, 404, 301],
 'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},
 index=index)
navegadores[navegadores['response_time'] < 0.08]

         http_status  response_time
Firefox          200           0.04
Chrome           200           0.02
Safari           404           0.07

In [46]:
new_index = ['Safari', 'Iceweasel', 'Comodo Dragon', 'IE10', 'Chrome']
navegadores.reindex(new_index, fill_value=0)

               http_status  response_time
Safari                 404           0.07
Iceweasel                0           0.00
Comodo Dragon            0           0.00
IE10                   404           0.08
Chrome                 200           0.02

In [48]:
navegadores[navegadores['http_status'] == 200]

         http_status  response_time
Firefox          200           0.04
Chrome           200           0.02

In [49]:
navegadores[navegadores['response_time'] < 0.08]

         http_status  response_time
Firefox          200           0.04
Chrome           200           0.02
Safari           404           0.07